{% extends 'base.html' %}
{% block body %}
<div class="loading-page" id ="loading">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>
    <div class="words-wrapper">
        <div class="word w1">Spliting Audio & Video</div>
        <div class="word w2">Process Video using Computer Vision</div>
        <div class="word w3">Extracting Music & Performing Sentiment Analysis </div>
        <div class="word w4">Natural Language Processing</div>
        <div class="word w5">Gathering Results</div>
      </div>
</div>
{% endblock %}