.main-title{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    font-family: 'Lobster', cursive !important;
}
.container{
    min-height: 100vh;
}
.section{
    padding-top:50px;
    padding-bottom:50px;
}


/* type writter */
/* GLOBAL STYLES */
.parent{
    display:flex;
    justify-content: center;
}
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.section{
    padding-left:10%;
    padding-right:10%;
    text-align:center
}
.music-section{
    background-color: rgb(190, 240, 240);
}
.text-section{
    background-color: rgb(240, 190, 232);
}
.emotion-section{
    background-color: rgb(240, 240, 190);
}
.title{
    text-decoration: underline;
}

/* more animation */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.status-content {
    position: relative;
    height:100px;
  }
  
  .status-content span {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, 10%);
  }
  
  .status-content span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px black;
  }
  
  .status-content span:nth-child(2) {
    color: black;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }